<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         syntaxCheck="false"
         forceCoversAnnotation="false"
         verbose="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         stopOnRisky="false"
         bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="EventStream Tests">
            <directory>./test/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory>./test</directory>
                <directory>./vendor</directory>
                <directory suffix="Interface.php">./src</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
        <log type="coverage-html" target="coverage" title="PHPUnit"
             charset="UTF-8" yui="true" highlight="true"
             lowUpperBound="35" highLowerBound="90"/>
    </logging>
</phpunit>